.modal-dialog {
  width: 70%;
  top: 120px;
}

.modal-container {
  background-color: white;
  padding: 20px 40px 20px 40px;
}

.modal-container form {
  padding-top: 30px;
}

.modal-container .btn {
  background-color: #01a8ca;
  color: white;
}
