@import 'core/variables';
@import 'core/mixins';

.slider-container {
  background-color: $base-background-colour;
  height: 340px;
  padding-top: 30px;
}

.slider {
  height: 354px;
}

.slider-controls {
  top: -279px;
  right: -525px;
  width: 430px;
  color: $font-colour;
  z-index: 3;
}

.slider-copy {
  background-color: $base-foregroud-colour;
  font-size: 15pt;
  padding: 15px 10px 15px 10px;
  text-align: justify;
  position: relative;
  top: 50px;
  left: 554px;
  z-index: 2;
}

.slider-nav {
  margin-top: 5px;
  left: 590px;
  position: relative;
  font-size: 25px;
  top: 50px;
  z-index: 2;
}

.slider-nav>span {
  background-color: $base-foregroud-colour;
  padding: 10px;
}

.slider-nav>span:hover {
  cursor: pointer;
}

.slider-item--gradient {
  width: 634px;
  height: 100%;
  z-index: 1;
  position: absolute;
  top: 0;
  @include linearGradient(rgba(0,0,0,0), rgba(145,94,125,0.80));
}
